@use 'base/variables' as var;
@use 'base/mixins' as mix;

.primary-button {
    @include mix.button(var.$primary, var.$secondary);
}

.plan-button {
    @extend .primary-button;
    border: 2px solid var.$white;
    margin-top: 2rem;
    display: block;
}