@use 'base/variables' as var;
@use 'base/mixins' as mix;

.plans {
    background-color: var.$secondary;

    h2 {
        @include mix.headingBorder(var.$white, var.$primary);
    }

    .description {
        color: var.$white;
    }
}

.our-plans {
    display: flex;
    flex-direction: column;

    @include mix.tablet { 
        flex-direction: row;
        max-width: 80rem;
        margin-inline: auto;
        margin-block-start: 10rem;
    }

    .plan  {
        flex-grow: 1;
        background-color: var.$white;
        padding: 16rem 4rem 4rem 4rem;
        border-bottom: 1px solid #e1e1e1;

        @include mix.tablet { 
            border: none;
            transition-property: transform;
            transition-duration: .3s;

            &:hover {
                transform: scale(1.1);
            }
        }

        .price {
            font-size: 1.8rem;
            text-align: center;
            font-weight: 700;
            text-transform: uppercase;
        }

        .list {
            li {
                text-align: center;
                margin-bottom: 2rem;

                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }

        &.start {
            @include mix.iconBg('../img/icon_start.svg');
        }

        &.business {
            background-color: var.$primary;
            order: -1;

            @include mix.iconBg('../img/icon_business.svg');
            @include mix.tablet { 
                order: unset;
                margin-block: -5rem;
                border-radius: 2rem;
                background-position: 50% 7rem;
                padding-top: calc(16rem + 5rem);
                z-index: 100;
            }
        }

        &.pro {
            @include mix.iconBg('../img/icon_pro.svg');
        }
    }
}